<h1>welcome to the {{hotelName}}</h1>
<!-- This is the interpolation-->

<div [hidden]="hideRooms">
    numberOfRooms:
    <div [ngStyle]="{'color' : room.available ? 'green' : 'red' }"  [innerText]="numberOfRooms"></div>
</div>
<!-- This is the property binding -->
<!-- This [] is known the box syntax -->
<!-- inside the normla JS we are going to use like this 
 document.getelementbyis(div) and then we .innertext = numberofrooms -->


<!-- For event  bininding and this is the bananna syntx-->

<button (click)="toggel()"> Toggel </button>

    <!-- OPtinal chaning and null collisition -->

<!-- {{ room?.available ?? 'no rooms'}} -->

<!-- In the case we have to do the devlopment of the arrays or the list of the ogject -->
 
<!-- {{roomList | json}} -->

<div *ngIf="selectedRoom">
    <h2>The selected room by you..!</h2>
    {{selectedRoom.roomType| json}}
</div>

<!-- In order to learn the onpush like how we are able to change the behaviour of the thigs -->

<div>
    <button type="button" class="btn btn-dark" (click)="addRoom()"> Click Here to ADD the rooms </button>
</div>

<hinv-rooms-list [rooms]="RoomList" [title]="title" (selectedRoom)="selectTheRooms($event)"></hinv-rooms-list>
<!-- <div *ngIf="room.available > 0"> -->
    
    <!-- And here where we have to use the component -->

<!-- Rooms List: -->
<!-- {{RoomList}} -->
<!-- Here comes the ngfor -->

    <!-- <table>
        <tr>    
            <th>Index</th>
            <th>Modulo</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room price</th>
            <th>Room servics</th>   
            <th>check In</th>   
            <th>check Out</th>   
        </tr>

        Just the info that what are the things that the table or the ngfor is havign
        <tr [ngClass]=" e ? 'even' : 'odd'" *ngFor="let room of RoomList; let e=even ; let o=odd ; let i=index ">
            <td>{{i}}</td>
            <td>{{e ? 'Even' : 'Odd' }}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.price}}</td>
            <td>{{room.amenities}}</td>
            <td>{{room.checkInTime}}</td>
            <td>{{room.checkOutTime | date :'short'}}</td>
        </tr>

    </table> -->
    <!-- This table is migrated to the right place to use this for multiple times and also 
     want to understand the concept of the components communication..!-->


<!-- </div> -->



